[submodule "www/web"]
	path = www/web
	url = git@bitbucket.org:systemengineers/vcl-web.git
[submodule "mgmt/managementnode"]
	path = mgmt/managementnode
	url = git@bitbucket.org:systemengineers/vcl-managementnode.git
