version:  "3"
services:

  db:
    image: mariadb:10
    volumes:
      - mariadb_data:/var/lib/mysql
    env_file: .env
    domainname: vcl.local
    hostname: db

  www:
    build: www
    env_file: .env
    volumes:
      - /var/log/apache2
      - /var/www/html
    ports:
      - "80:80"
      - "443:443"
    links:
      - db:db
    depends_on:
      - db
    domainname: vcl.local
    hostname: www
    image: junaid/vcl-www:k8s

  managementnode:
    build: mgmt
    env_file: .env
    domainname: vcl.local
    hostname: mgmt
    links:
      - db:db
    depends_on:
      - db
    volumes:
      - /var/log/vcl/
    image: junaid/vcl-mgmt:k8s

volumes:
  mariadb_data:
